# Makes sure we use the node version specified in the package.json's engines field. See: https://pnpm.io/next/npmrc#engine-strict
engine-strict=true

# The default is already true, but just to be explicit in case it changes. See: https://pnpm.io/next/npmrc#auto-install-peers
auto-install-peers=true

# Generate a flat node_modules without symlinks since Metro doesn't follow them. Issue since 2017: https://github.com/facebook/metro/issues/1
node-linker=hoisted
